@import 'normalize.css';
@import "base/_global";
@import "base/_variables";
@import "base/_mixins";
@import 'modules/_large-hero';
@import 'modules/_btn';

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}